<div class="signin-container">
    <div class="container form-container">
        <div class="form-padding">
            <h2 class="form-signin-heading">Ingresá la información del evento</h2>
           
            <label>Título:</label>
            <input type="text" class="form-control signin-field" ng-model="eventData.fields.head">
            
            <label>Descripción:</label>
            <input type="text" class="form-control signin-field" maxlength="3" ng-model="eventData.fields.body">
			
			<label>Fecha de realización:</label>
            <input type="datetime-local" class="form-control signin-field" maxlength="3" ng-model="eventData.fields.date">
			
			<label> Inscripcion hasta:</label>
			<input type="datetime-local" class="form-control signin-field" maxlength="3" ng-model="eventData.fields.inscriptionDeadline">


            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 5%;" ng-click="addEvent()">Agregar</button>
        </div>
    </div>
</div>
