<div class="events-container">
    <div class="event" >
        <img class="media-object"  ng-src="{{foundEvent.fields.image}}" alt="Image" err-src="static/img/event.png" />
	<br>
        <div class="media-body" style="text-align:center;color:white">
            <h4 class="media-heading"><strong>{{foundEvent.fields.head}}</strong></h4>
            <br>
            {{foundEvent.fields.body}}
        </div>
    
    
    <!-- enrolled teams -->
    <div ng-if="memberships.length!=0">
        <br>
        <p style="size=20px"> Teams inscriptos hasta ahora </p>
        <table border="1">
        	<tr class="table-head">
        	<td>Team</td> 
        	<td>Tag</td> 
        	<td>Miembros</td> 
        	</tr>
              <tr class="table-body" ng-repeat="membership in memberships"> 
              	<td>{{membership.fields.teamName}}</td> 
              	<td>{{membership.fields.teamTag}}</td> 
              	<td>{{membership.fields.teamMembers}}</td> 
              </tr>
            </div>
		    </table>
    </div>

    <span ng-if="memberships.length==0" style="color:white;">
      <br>
      No hay anotados en este evento, inscribite! 
    </span> <a ng-href="{{pathEventRegister}}" style="width: 50%;padding: 2px;background-color: red;border-radius: 10px;color: white;">{{eventRegister}}</a>
    <br>
    <a ng-href="{{pathEventEdit+'?pk='+foundEvent.pk}}" style="background-color:white">Editar evento</a>
        

    </div>  
   
   
      
</div>
