<div class="signin-container">
    <div class="container form-container">
        <div class="form-padding">
            <h2 class="form-signin-heading">Enter your team information</h2>
            <input type="text" class="form-control signin-field" ng-model="registerData.fields.teamName">
            <input type="text" class="form-control signin-field" maxlength="3" ng-model="registerData.fields.teamTag">

          
            <input type="text" class="form-control signin-field"
            		ng-model="newMember" placeholder="Member name"
            		maxlength="20" style="display:inline;width:auto"/>
            <button class="addMember-button" type="submit" ng-click="addMember()">Add</button>
         

            <div ng-repeat="member in teamMembers">
                <span class="glyphicon glyphicon-remove" ng-click="removeMember($index)"></span>{{member}}
            </div>
            
            <div style="color:red;padding-top:10px" ng-if="error">{{errorDescription}}</div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 5%;" ng-click="register()">Register</button>
        </div>
    </div>
</div>
