<div class="events-container">
    <div class="event-list">
        <div class="event" ng-repeat="event in events">
            <img class="media-object" ng-src="{{event.fields.image}}" alt="Image" err-src="static/img/event.png" >

            <div class="media-body">
                <h4 class="media-heading">{{event.fields.head}}</h4>
                <br>
                {{event.fields.body}}
            </div>
        </div>
        <div>    
              <a href="{{pathEventRegister}}" class="btn btn-lg btn-primary btn-block register-button">{{eventRegister}}</a>
        </div>     
    </div>
</div>
