<div class="events-container">
    <div class="event" >
        <img class="media-object" ng-src="{{foundEvent.fields.image}}" alt="Image" err-src="static/img/event.png" />

        <div class="media-body">
            <h4 class="media-heading">{{foundEvent.fields.head}}</h4>
            <br>
            {{foundEvent.fields.body}}
        </div>
    
    
    <!-- enrolled teams -->
        <br>
        <p style="size=20px"> Teams inscriptos hasta ahora </p>
            <div class="media" ng-repeat="membership in memberships"> 
                Team: {{membership.fields.teamName}}  <br>
                Tag: {{membership.fields.teamTag}}  <br>
                Miembros: {{membership.fields.teamMembers}} <br>
            </div>

        <a ng-href="{{pathEventRegister}}" class="btn btn-lg btn-primary btn-block register-button">{{eventRegister}}</a>
    </div>  
   
   
      
</div>
