<div class="events-container">
    <div class="event-list">
        <div class="media" ng-repeat="event in events">
            <a class="pull-left event-icon-a" href="events/{{event.pk}}">
                <img class="media-object" ng-src="{{event.fields.image}}" alt="Image" err-src="static/img/event.png">
            </a>

            <div class="media-body">
                <h4 class="media-heading">{{event.fields.head}}</h4>
                Fecha realización: {{event.fields.date}}<br>
                Límite inscripción: {{event.fields.inscriptionDeadline}}
            </div>
        </div>
        
        <a ng-href="{{pathEventRegister}}" ng-if="admin" class="btn btn-lg btn-primary btn-block register-button">Add event</a>
    </div>
  
</div>
