<div class="fullscreen-home">
    <div id="homeSlider" class="carousel slide custom-carousel center-hor center-vert">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#homeSlider" data-slide-to="{{$index}}" ng-class="{'active': $first}"
                ng-repeat="slide in slides" class="slide-indicator"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item" ng-repeat="slide in slides" ng-class="{'active': $first}">
                <img ng-src="{{slide.image}}" alt="Slide" class="slide-image"/>
    
                <div class="container">
                    <div class="carousel-caption">
                        <h1>{{slide.heading}}</h1>
    
                        <p>{{slide.caption}}</p>
    
                        <p><a class="btn btn-large btn-primary" href="{{slide.linkRef}}">{{slide.linkText}}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="{{arrowLink}}" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="{{arrowLink}}" data-slide="next"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>