<div class="fullscreen-home">
    <div style="text-align:center">
    <object style=""width="250" height="40" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="gsSong3982794617" name="gsSong3982794617"><param name="movie" value="http://grooveshark.com/songWidget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&songID=39827946&style=metal&p=0" /><object type="application/x-shockwave-flash" data="http://grooveshark.com/songWidget.swf" width="250" height="40"><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&songID=39827946&style=metal&p=0" /><span><a href="http://grooveshark.com/search/song?q=Instalok%20We%20Are%20The%20Supports" title="We Are The Supports by Instalok on Grooveshark">We Are The Supports by Instalok on Grooveshark</a></span></object></object>
    </div>
    <div id="homeSlider" class="carousel slide custom-carousel center-hor center-vert">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#homeSlider" data-slide-to="{{$index}}" ng-class="{'active': $first}"
                ng-repeat="slide in slides" class="slide-indicator"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item" ng-repeat="slide in slides" ng-class="{'active': $first}">
                <img ng-src="{{slide.image}}" alt="Slide" class="slide-image"/>
    
                <div class="container">
                    <div class="carousel-caption">
                        <h1>{{slide.heading}}</h1>
    
                        <p>{{slide.caption}}</p>
    
                        <p><a class="btn btn-large btn-primary" href="{{slide.linkRef}}">{{slide.linkText}}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="{{arrowLink}}" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="{{arrowLink}}" data-slide="next"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>