<div class="navbar-wrapper custom-navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home">{{pageTitle}}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{pathHome}}">{{home}}</a>
                        </li>
                        <li>
                            <a href="{{pathEvents}}">{{events}}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="pull-right">
                            <a href="{{pathSignIn}}">{{signIn}}</a>
                        </li>
                        <li class="pull-right">
                            <a href="{{pathRegister}}">{{register}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
