<div class="navbar-wrapper custom-navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ng-href="/home">{{pageTitle}}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a ng-href="{{pathNews}}">{{news}}</a>
                        </li>
                        <li>
                            <a ng-href="{{pathEvents}}">{{events}}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                         <li class="pull-right" ng-if="login">
                            <a ng-href="" ng-click="signOut()">{{logOut}}</a>
                        </li>
                        <li class="pull-right" ng-if="login">
                            <a ng-href="/profile">{{helloUser}}</a>
                        </li>
                    	

                        <li class="pull-right" ng-if="!login">
                            <a ng-href="{{pathSignIn}}">{{signIn}}</a>
                        </li>
                        <li class="pull-right" ng-if="!login">
                            <a ng-href="{{pathRegister}}">{{register}}</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
