<div class="news-container">
    <div class="news" >
		<span class="new-display">
			<div class="media-body" style="text-align:center;color:white">
				<h3 class="media-heading" style="color:white">{{current_new.header}}</h3>
                <br>
                <h4>{{current_new.subheader}}</h4>
				<br>{{current_new.body}}<br>
				<img src="{{current_new.img}}">
			</div>
			<br>
			<p class="text-error" ng-if="error">Hubo un error al eliminar la noticia. Intente de nuevo mas tarde</p>
		</span>
		<span class="news-management" ng-if="admin">
			<h2 style="color: white;">News Management</h2>
			<button class="btn btn-lg btn-info btn-block" type="submit" style="margin-top: 5%;"  ng-click="editNew(foundEvent.pk)">{{editNewPlaceholder}} </button>
			<button class="btn btn-lg btn-danger btn-block" type="submit" style="margin-top: 5%;" ng-click="deleteNew(current_new.pk)">{{deleteNewPlaceholder}}</button>
		</span>    
    </div>
</div>
