<div class="events-container">
    <div class="event-list">
		<div class="no-events" ng-if="news.length == 0">
			"No hay noticias capo"
		</div>
		
        <div class="media" ng-repeat="new in news">
            <div class="media-body">
                <h3 class="media-heading" style="color:white">{{new.header}}</h3>
                <br>
                <h4>{{new.subheader}}</h4> <a href="{{pathNewsViewer}}/{{new.pk}}">{{continueReadingPlaceholder}}</a>
            </div>
            <hr>
        </div>
        
        <a ng-href="{{pathNewsAdd}}" ng-if="admin" class="btn btn-lg btn-primary btn-block register-button">{{addNewPlaceholder}}</a>
    </div>
  
</div>
