<div class="signin-container">
    <div class="container form-container">
        <form class="form-padding">
            <h2 class="form-signin-heading">Register</h2>
            <input type="text" class="form-control signin-field" placeholder="Username" autofocus="true">
            <input type="text" class="form-control signin-field" placeholder="Email address">
            <input type="password" class="form-control signin-field" placeholder="Password">
            <input type="password" class="form-control signin-field" placeholder="Repeat your password">
            <input type="text" class="form-control signin-field" placeholder="Name">
            <input type="text" class="form-control signin-field" placeholder="Surname">
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>
</div>