<div class="signin-container">
    <div class="container form-container">
        <form class="form-padding" ng-submit="signIn()">
            <h2 class="form-signin-heading">{{formTitle}}</h2>
            <input type="text" class="form-control signin-field" placeholder="{{usernamePlaceholder}}" autofocus=""
                   ng-model="user.username">
            <input type="password" class="form-control signin-field" placeholder="{{passwordPlaceholder}}"
                   ng-model="user.password">

            <div style="color:red;padding-top:10px" ng-if="error">{{errorDescription}}</div>
            
            <label class="checkbox">
                <input type="checkbox" value="remember-me" ng-model="rememberUser"> {{rememberLabel}}
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{submitLabel}}</button>
        </form>
    </div>
</div>