*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Komodo
.komodotools
*.komodoproject

# Release config
**/release.py

# Migrations
**/migrations

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml
.idea/*
node_modules/*

pids
logs
results

npm-debug.log

src/events/migrations/*
src/home/migrations/*
src/users/migrations/*

