/* app css stylesheet */

.fullscreen {
    height: 100%;
    width: 100%;
}

.fullscreen-home {
    background-image: url("/static/img/background.jpg");
    background-repeat: repeat;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.profile-info-container {

    text-align: center;
    color: black;
    background: rgba(255, 255, 255, 0.3);
    padding: 1em 0em 2em;
    text-align: center;
}

.table-container {
    width: 100%;
}

.event-table {
    border-radius: 5px;
    border: 1px solid black;
    width: 50%;
}

.event-table .table-header {
    border-radius: 5px;
    width: 100%;
    height: 30px;
    color: black;
    background: rgba(55, 199, 255, 0.5);
    text-shadow: 2px 2px 2px lightslategray;
    font-weight: bold;
}

.event-table .table-row {
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.7);
}

.column {
    height: 100%;
    float: left;
    width: 25%;
    vertical-align: middle;
    padding-top: 3px;
    float: left;
    width: 25%;
}

.profile-info-container > div {
    margin-top: 0.5em;
}

.profile-info-container > div:last-child {
    margin-top: 1.3em;
}

.profile-header {
    text-shadow: 1px 2px 3px lightgray;
}

.user-profile-container {
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: left;
    margin-top: -91px;
    padding-top: 91px;
    overflow-y: scroll;
    margin-bottom: 50px;
}

.events-container, .news-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    margin-top: -91px;
    padding-top: 91px;
    overflow-y: scroll;
}

.center-vert {
    display: -webkit-box;
    -webkit-box-pack: center;
}

.center-hor {
    display: -webkit-box;
    -webkit-box-align: center;
}

.signin-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    margin-top: -91px;
    padding-top: 91px;
}

.form-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.form-padding {
	width: 50%;
	margin-left: 25%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    padding-top: 10px;
	padding-bottom: 10px;
	
}

.event-icon-a {
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 50px;
}

.general-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-clip: content-box;
}

.events-background {
    background-image: url("../img/irelia.jpg");
    filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
}

.signin-background {
    background-image: url("../img/katafest.jpg");
    filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
}

.event-register-background {
    background-image: url("../img/zac.jpg");
    filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
}

.home-background {
}

.event-list {
    width: 80%;
    max-width: 800px;
}

.signin-field {
    margin-top: 5%;
}

.custom-marketing {
    max-width: 100%;
}

.custom-navbar-wrapper {
    margin-top: 0;
}

.navbar-container {
    padding-top: 20px;
}

.custom-row {
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 0px;
    margin-left: 0px;
}

.custom-carousel {
    margin-bottom: 0px;
    width: 100%;
}

.first-row {
    background-color: rgba(0, 255, 225, 0.1);
    color: rgb(220, 220, 220);
}

.second-row {
    background-color: rgba(225, 255, 0, 0.1);
    color: rgb(220, 220, 220);
}

.third-row {
    background-color: rgba(255, 0, 0, 0.1);
    color: rgb(220, 220, 220);
}

.slide-indicator {
    margin-right: 5px !important;
}

.carousel .item {
    transition: .7s ease-in-out opacity;
    left: 0 !important
}

.carousel .next.left, .carousel .prev.right {
    opacity: 1;
    z-index: 1
}

.carousel .active.left, .carousel .active.right {
    opacity: 0;
    z-index: 2
}

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('../img/ajax-loader.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.register-button {
    margin-top: 5%;
}

.profile-edit-button {
	width: 30%;
	margin-top: 40px;
	display: inline-table;
}

.addMember-button {
    margin-top: 5%;
    height: auto;
    width: auto;
    vertical-align: middle;
    border-radius: 6px;
    background-color: #156C77;
}

.featurette-image {
    border: 2px solid #222222;
    border-radius: 40px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.event, .news {
    width: 85%;
}

.event-description, .new-display {
    float: left;
    width: 80%;
    text-align: center;
}

.news-page {
    width: 95%;
    margin-right: 2.5%;
}

.news-list {
    margin-left: 5%;
    margin-right: 5%;
}

.new-square {
    background-color: rgba(68, 68, 100, 0.5);
    width: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 1%;
    padding-top: 0%;

}

.new-header {
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.new-subheader {
    color: gray;
    font-size: 140%;
    padding-left: 5%

}

.new-permalink-link {
    text-decoration: none;
    color: grey;
    float: right;
}

.new-permalink-link:hover {
    text-decoration: none;
    color: white;
    float: right;
}

.event-management, .news-management {
    float: right;
    text-align: center;
    width: 20%;
}

td {
    padding: 10px;
    text-align: center;
}

.table-whole {
    border-radius: 10px;
    border-color: black;
    margin: auto;
}

.table-head {
    background-color: #b1dafb;
    color: black;
}

.table-body {
    background-color: #ccddee;
    color: black;
}

.table-body:hover {
    background-color: lightgray;
}

.add-news-button {
	margin: auto;
	width: 30%;
}

.search-user-field {
    height: 28px;
    margin-top: 11px;
}

.search-user-button {
    margin-top: 11px;
    height: 29px;
    font-size: 15;
    margin-left: 11px;
    margin-right: 15px;
    padding-top: 4;
}